
#burger{
    width: 200px;
    height: 200px;
}

img{
    width: 200px;
    height: 150px;
}

#content{
    display: flex;
    justify-content: center;

}

#homeDiv{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    width: 800px;
    height: 800px;
}

body{
    color: white;
    background-image: url('./back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

a{
    font-size: 30px;
    color: white;
    padding: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}